<%= form_for @parse do |f| %>

  <div class="clearfix <%= "error" if f.has_errors?(:content) %>">
    <%= f.label :content %>
    <div class="input">
      <%= f.text_area :content %>
      <%= f.errors_for :content %>
    </div>
  </div>

  <div class="actions">
    <%= f.button class: "btn btn-primary" %>
    <%= link_to 'Cancel', parses_path, class: "btn" %>
  </div>

<% end %>
